In [1]:
import datetime as dt
import pandas as pd
import matplotlib as mp
import numpy as np

In [32]:
class fluxocaixa (str):
  def __init__(self,arquivo:str):
    self.arquivo = arquivo
    self.conteudo = self.extrair_conteudo()
  def extrair_conteudo(self):
    with open(file=self.arquivo, mode='r', encoding= 'utf8') as arquivo:
      return arquivo

In [35]:
fluxocaixa('extrato.xls')

'extrato.xls'

In [2]:
df = pd.read_excel('extrato.xls')

/usr/local/lib/python3.9/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
df.head()

In [ ]:
df.info()

In [4]:
df_fechamento= df[['Data movimento','Nome do fornecedor/cliente','Forma de pgto/recbto','Valor (R$)']]
df_fechamento

,Data movimento,Nome do fornecedor/cliente,Forma de pgto/recbto,Valor (R$)
0,24/04/2023,Antônio,Cartão de débito,71.9
1,24/04/2023,Antônio,Cartão de crédito,141.3
2,24/04/2023,AMANCIO,Cartão de débito,59.8
3,24/04/2023,JANILSON,Cartão de crédito,37.8
4,24/04/2023,STEPHEN,Cartão de crédito,118.2
5,24/04/2023,YURI,Dinheiro,95.0
6,24/04/2023,JORGE,Cartão de crédito,599.4
7,24/04/2023,OTAVIO,Cartão de crédito,249.9
8,24/04/2023,CARLOS,Cartão de débito,25.9
9,24/04/2023,cliente de lucas,Cartão de crédito,123.0
10,24/04/2023,JUSIMAR,Cartão de crédito,11.0
11,24/04/2023,JOBSON,Pagamento instantâneo,149.9
12,24/04/2023,VITOR,Cartão de crédito,89.9
13,24/04/2023,JOÃO SILVA LIRA,Cartão de crédito,179.8
14,24/04/2023,SELEIDE,Cartão de crédito,113.8
15,24/04/2023,CLIENTE RUTHE,Dinheiro,30.0
16,24/04/2023,DENIZE,Dinheiro,55.0
17,24/04/2023,SEM IDENTIFICAÇÃO,Pagamento instantâneo,15.0
18,24/04/2023,JOSIEL,Cartão de crédito,62.9

In [6]:
df = pd.read_excel('extrato.xls')
df_fechamento= df[['Data movimento','Nome do fornecedor/cliente','Forma de pgto/recbto','Valor (R$)']]
df_fechamento = df_fechamento.rename(columns={'Forma de pgto/recbto': 'forma de pagamento','Nome do fornecedor/cliente':'nome do cliente'})
df_fechamento = df_fechamento.set_index('Data movimento')
display(df_fechamento)

                  nome do cliente     forma de pagamento  Valor (R$)
Data movimento
24/04/2023                Antônio       Cartão de débito        71.9
24/04/2023                Antônio      Cartão de crédito       141.3
24/04/2023                AMANCIO       Cartão de débito        59.8
24/04/2023               JANILSON      Cartão de crédito        37.8
24/04/2023                STEPHEN      Cartão de crédito       118.2
24/04/2023                   YURI               Dinheiro        95.0
24/04/2023                  JORGE      Cartão de crédito       599.4
24/04/2023                 OTAVIO      Cartão de crédito       249.9
24/04/2023                 CARLOS       Cartão de débito        25.9
24/04/2023       cliente de lucas      Cartão de crédito       123.0
24/04/2023                JUSIMAR      Cartão de crédito        11.0
24/04/2023                 JOBSON  Pagamento instantâneo       149.9
24/04/2023                  VITOR      Cartão de crédito        89.9
24/04/2023        JOÃO SILVA LIRA      Cartão de crédito       179.8
24/04/2023                SELEIDE      Cartão de crédito       113.8
24/04/2023          CLIENTE RUTHE               Dinheiro        30.0
24/04/2023                 DENIZE               Dinheiro        55.0
24/04/2023      SEM IDENTIFICAÇÃO  Pagamento instantâneo        15.0
24/04/2023                 JOSIEL      Cartão de crédito        62.9

In [ ]:
df_credito = df_fechamento[df_fechamento['forma de pagamento']=='Cartão de crédito']
df_debito = df_fechamento[df_fechamento['forma de pagamento']=='Cartão de débito']
df_dinheiro = df_fechamento[df_fechamento['forma de pagamento']=='Dinheiro']
df_pix= df_fechamento[df_fechamento['forma de pagamento']=='Pagamento instantâneo']

In [38]:
df_credito2 = df_credito['Valor (R$)'].sum()
df_debito2 = df_debito['Valor (R$)'].sum()
df_dinheiro2 = df_dinheiro['Valor (R$)'].sum()
df_pix2 = df_pix['Valor (R$)'].sum()
df_valor= df['Valor (R$)'].sum()
print('''Fuxo de caixa:
Cartão de Crédito R${}
Cartão de Débito R${}
Dinheiro R${}
Pix Bradesco R${}
Pix Banco do Brasil R$ 0.00
Valor Total: R${:.5}'''.format(df_credito2,df_debito2,df_dinheiro2,df_pix2,df_valor))

Fuxo de caixa:
Cartão de Crédito R$1727.0
Cartão de Débito R$157.6
Dinheiro R$180.0
Pix Bradesco R$164.9
Pix Banco do Brasil R$ 0.00
Valor Total: R$2229.5